/* QuoteBox.css */
.quote-box-container {
    background-color: #fff; /* Background color for the quote box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  body {
    background-color: #333; /* Background color for the entire body */
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default body margin */
  }

